.footer-tags{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #647b6a;
  height:100%;
  display:flex;
  gap:30px;
  justify-content: end;
}

.footer-list{
  float: left;
  height:100%;
  display:flex;
  justify-content: flex-end;
}

.upper-container{
  background-color: #647b6a;
  height:50px;
  width:92%;
  display: flex;
  flex-direction: row;
  gap:20px;
  padding-left: 10px;
  margin: 5;
}

.upper-contents{
  vertical-align: bottom;
}

.fa-pad {
  margin: 10px;
}
