.title-columns{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.thread-details{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
}
