/* TODO Add site wide styles */

body{
  width: 90%;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p {
  width: 70vw;

  word-wrap: break-word;
  overflow-wrap: break-word;
}
