.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}


.header-login{
  background:#171717;
  display:flex;
  flex-direction: row;
  width:90%;
  height:70%;
  margin:auto;
  padding: 8px 20px;
	clear: both;
	background: #647b6a;
	color: #fff;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.banner{
  display: grid;
  place-items: center;
}

.fa-right-from-bracket{
  position:relative;
  top:22px;
  right:430px;
}


.login-register{
  display:flex;
  gap:200px
}

.login-container{
  position:relative;
  left:75px
}

.signup-container{
  position:relative;
  left:-75px
}

.login-text{
  position:relative;
}

.register-text{
  position:relative;
}

.fa-right-to-bracket{
  position:relative;
  top:20px
}
.fa-key{
  position:relative;
  top:20px
}

.login-link{
  display:flex;
  flex-direction: row;
  gap:15px
}

.signup-link{
  display:flex;
  flex-direction: row;
  gap:15px;
  position:relative;
}


.user-date-container{
  position:relative;
  right: -600px
}

.non-user-date-container{
  position:relative;
  right: -600px
}

.logged-in-user-container{
  display:flex;
  flex-direction: row;
  gap:50px;
  margin-left: 10%
}

.dropdown-container{
  background: #91a596;
	color: #717171;
	max-height: 20px;
	border-top: 1px solid #bbbbbb;
	padding: 5px 20px;
	border-bottom: 1px solid #bbbbbb;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
  width:90%;
  height:70%;
  margin:auto;
}

body{
  color:#c7c7c7;
  background: #869B8B
}

a{
  text-decoration: none;
  color:#c7c7c7;
}
a:visited { text-decoration: none; color:#c7c7c7; }
a:hover { text-decoration: none; color:#c7c7c7; }
a:focus { text-decoration: none; color:#c7c7c7; }
a:hover, a:active { text-decoration: none; color:black }
.fa-right-from-bracket:hover {
  color:pink
}
