.header-login{
  display:flex;
  flex-direction: row;
}

.login-register{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.date{
  float:right
}

.column-names{
  display:flex;
  flex-direction: row;
}

.topic-title{
  background: #91a596;
  color: #fff;
  border-bottom: 1px solid white;
  padding: 13px;
  word-break: break-all;
}

.main-page-table{
  width:100%;
}

.forum-title{
  color: #fff;
  border: none;
  background: #647b6a;
  color: #fff;
  border-top: 1px solid #3f3f3f
  ;
  border-bottom: 1px solid #3f3f3f
  ;
  padding-top: 10px;
  padding-bottom:10px;
  padding: 13px;
}

.posts-title{
  color: #fff;
  border: none;
  background: #647b6a;
  color: #fff;
  border-top: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  text-align: center;
}

.threads-title{
  color: #fff;
  border: none;
  background: #647b6a;
  color: #fff;
  border-top: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  text-align: center;
}

.last-post-title{
  color: #fff;
  border: none;
  background: #647b6a;
  color: #fff;
  border-top: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  padding:15px;
}

.category-name-homepage{
  background: #647b6a;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px;
  padding-top: 20px;
  padding-bottom:20px;
}

.home-page-table-row{
  background: #647b6a;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.thread-count-homepage{
  text-align: center;
  background: #647b6a;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px;
}
.post-count-homepage{
  text-align: center;
  background: #647b6a;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px;
}

.last-post-made-homepage{
  text-align: right;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.font-awesome-space{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-awesome-placement{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.fa-2xl:hover{
  color:black;
}

.non-seed:hover{
  cursor: pointer;
  color:black
}

a:visited{
  text-decoration: none;
}

a:hover{
  cursor: pointer;
  color:black;
}

a:link{
  color:white;
  text-decoration: none;
}
