.header-login{
  display:flex;
  flex-direction: row;
}

.login-register{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.date{
  float:right
}

.column-names{
  display:flex;
  flex-direction: row;
}

.topic-title{
  background: #91a596;
  color: #fff;
  border-bottom: 1px solid white;
  padding: 13px;
  word-break: break-all;
}

.main-page-table{
  width:92%;
}

.forum-title{
  color: #fff;
  border: none;
  background: #647b6a;
  color: #fff;
  border-top: 1px solid #3f3f3f
  ;
  border-bottom: 1px solid #3f3f3f
  ;
  padding-top: 10px;
  padding-bottom:10px;
  padding: 13px;
}

.posts-title{
  color: #fff;
  border: none;
  background: #647b6a;
  color: #fff;
  border-top: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  text-align: center;
}

.threads-title{
  color: #fff;
  border: none;
  background: #647b6a;
  color: #fff;
  border-top: 1px solid #3f3f3f
  ;
  border-bottom: 1px solid #3f3f3f
  ;
  text-align: center;
}

.last-post-title{
  color: #fff;
  border: none;
  background: #647b6a;
  color: #fff;
  border-top: 1px solid #3f3f3f
  ;
  border-bottom: 1px solid #3f3f3f
  ;
  padding:15px;
}

.category-name-homepage{
  background: #647b6a;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px;
  padding-top: 20px;
  padding-bottom:20px;
}

.home-page-table-row{
  background: #647b6a;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.thread-count-homepage{
  text-align: center;
  background: #647b6a;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px;
}
.post-count-homepage{
  text-align: center;
  background: #647b6a;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px;
}

.last-post-made-homepage{
  text-align: right;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.font-awesome-space{
  width:20px;
}

.font-awesome-placement{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}


.fa-film{
  position:relative;
  top:140px;
  left:103px;
}

.fa-book{
  position:relative;
  top:206px;
  left:73px;
}

.fa-wand-magic-sparkles{
  position:relative;
  top:273px;
  left:43px
}

.fa-gamepad{
  position:relative;
  top:335px;
  left:3px;
}

.fa-tv{
  position:relative;
  top:397px;
  left:-36px;
}

.fa-clock{
  position:relative;
  top:463px;
  left:-73px;
}

.fa-comment{
  position:relative;
  top:525px;
  left:-103px;
}

.fa-bowl-food{
  position:relative;
  top:590px;
  left:-137px;
}

.fa-cat{
  position:relative;
  top:655px;
  left:-173px;
}

.fa-2xl:hover{
  color:black
}
