.profile-banner{
  background-image: url("https://i.pinimg.com/736x/3a/e8/4c/3ae84ccbbf00f19af41c02c7639835de.jpg");
  background-position-y: 34%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255,255,255,0.12);
  border-radius: 3px 3px 0 0;
  background-size: cover !important;
  background-position-x: center !important;
  background-repeat: no-repeat !important;
  min-height: 100px;
}

.profile-picture{
  position:relative;
  padding-right:20px;
  border: 1px white
}

.user-info-username{
  margin: 0;
  margin-top: -0.15em;
  padding: 10px;
  font-weight: 400;
  font-size: 2.2rem;
  color: white;
}

.user-stats{
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: -5px;
  margin-bottom: -5px;
  padding: 16px;
}

.profile-container{
  color: white;
  background: #fff;
  border-width: 0;
  border-style: solid;
  border-top-color: #e0e0e0;
  border-right-color: #e0e0e0;
  border-bottom-color: #e0e0e0;
  border-left-color: #e0e0e0;
  border-radius: 6px;
  background: none;
  border: 5px solid #e0e0e0;
  padding: 10px;
}

.posting-stats{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  text-align: center;
}

.join-stats{
  display:flex;
  justify-content: end;
  gap:5px;
  color: white;
  flex-direction: column;
}

.stat-num{
  text-align: center;
}

.unordered-listing{
  flex: 1;
  min-width: 0;
  vertical-align: top;
  padding-left: 16px;
  list-style: none;
}

.activity-list{
  color: white;
  background: #fff;
  border-width: 0;
  border-style: solid;
  border-top-color: #e0e0e0;
  border-right-color: #e0e0e0;
  border-bottom-color: #e0e0e0;
  border-left-color: #e0e0e0;
  border-radius: 6px;
  background: none;
  border: 5px solid #e0e0e0;
  padding: 10px;
}

.activity-container{
  display:flex;
  flex-direction: column;
  gap:20px;
}

.content-text{
  font-size: 1.3rem;
  margin: 0.25em 0;
}

.content-title{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.6rem;
}

.content-time{
  font-size: 1.3rem;
    color: white;
}

.activity-button{
  display: inline-block;
  white-space: nowrap;
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  background: none;
  color: white;
  border-color: white;
  padding: 16px 16px;
  border-bottom: 2px solid transparent;
  font-size: 40px;
}

a:hover{
  color:black
}
