.path-trail{
  background: #91a596;
	color: #717171;
	max-height: 20px;
	border-top: 1px solid #bbbbbb;
	padding: 5px 20px;
	border-bottom: 1px solid #bbbbbb;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
  width:90%;
  height:70%;
  margin:auto;
}

.temp-banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.main-path-body{
  font-size:  14px;
	line-height: 1.4;
	color: #c7c7c7;
	margin: 0;
	font-family: Verdana, Arial, Sans-Serif;
	min-width: 320px;
}

.separate{
  height:30px;
}
.separate-image{
  height:10px;
}

.separate-2{
  height:15px
}

.category-arrow{
	color:white;
	position:relative;
	bottom:19px;
	left:30px
}

.category-name-path{
	position:relative;
	bottom:56.25px;
	left:60px;
}

.subcategory-arrow{
	color:white;
	position:relative;
	bottom:94px;
	left:150px
}

.sub-category-name-path{
	color:white;
	position:relative;
	left:190px;
	bottom:132px
}
